* {
  margin: 3px;
}

html {
  scroll-behavior: smooth;
}

.tituloNosotros {
  margin: 0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.parrafoNosotros {
  margin-left: 100px;
  margin-right: 100px;
}

.nosotros {
  background-color: rgb(209, 216, 238);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(50, 79, 208); 
}

p {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.titulo {
  padding-top: 30px;
}

ul:not(.redesSociales) {
  list-style-type: none;
  margin: 0;
  padding-left: 40%;
  border: 2px solid rgb(210, 213, 221);
  background-color: rgb(211, 217, 235);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.redesSociales {
  list-style-type: none;
}

.redes {
  text-align: center;
  margin-left: 150px;
}


li:not(.listaOrdenada) {
  float: left;
}

li a:not(.paginas) {
  display: block;
  color: rgb(50, 79, 208);
  text-align: auto;
  padding: 12px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(157, 168, 220);
}

header {
  margin: 0;
  text-align: center;
  color: rgb(50, 79, 208);
  font-family: Cambria, Georgia, sans-serif;
}
.imagen {
  text-align: center;
}

body {
  margin: 0;
  background-color: aliceblue;
}

.logos {
  max-width: 50px;
  max-height: 50px;
}

h2 {
  text-align: center;
  color: rgb(50, 79, 208);
}

footer {
  margin: 0;
  background-color: rgb(211, 217, 235);
  color: rgb(50, 79, 208);
  padding: 8px;
  text-align: center;
}
